/*\\datos\APLIS\ARCHIVOS ONIX\Esquio20\
/* Flecha del header */
.flecha_volver{
    all: unset;
    cursor: pointer;
   
}
 
.flecha_volver:focus {
    outline: revert;
}

#flecha_header:hover {
    transform: scale(1.4);
    
}

/*Boton inicio fin jornada pestaña*/
#InicioFin_Jornada{
  all: unset;
  cursor: pointer;
  border: none;
}

#InicioFin_Jornada:hover {
  transform: scale(1.4);
  
}

/* Estilos iconos */
.pdf_icono{
    width: 1.1%;
    float: right;
    min-width: 2.5em;
    margin-left: 0.75em;
}

.bolsa_dinero{
    width: 1.1%;
    float: right;
    min-width: 1.5em;
    margin-right: 0.6em;
}
.bolsa_dinero:hover{
   transform:scale(1.07);
}


.pdf_icono:hover{
    transform:scale(1.07);
}


@media (max-width: 600px) {
    .card {
        /* Quitalos estilos de sombra y borde en dispositivos móviles */
        box-shadow: none;
        border: none;
    }
}

/*css para que el boton quede por encima del footer*/
.btn_acciones {
  all: initial;
  position: fixed;
  right: 13%;
  bottom: 10px;
  cursor: pointer;
  z-index: 999; 
}

/* css para eliminar los margenes en movil de boostrap */

#no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
    
}
#no-padding{
    padding: 0px !important;
}

.c_img{
    border-top-left-radius:var(--bs-border-radius-pill) !important;
    border-bottom-left-radius:var(--bs-border-radius-pill) !important;
    border-right: 0px !important;
}
#ImgPwContainer{
    border-top-right-radius:var(--bs-border-radius-pill) !important;
    border-bottom-right-radius:var(--bs-border-radius-pill) !important;
    background-color:white;
    border-left: 0px !important;
}

#wrapperFirma{
    border: 1px solid black;
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.PestanaMenu {
    color:#757575;
    font-weight: 500;
}

#cookie-modal {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    text-align: center;
    z-index: 150;
  }
  #header_agrupado img{
    transition: height 0.5s ease; 
  }
  /* Estilo para el indicador de carga (spinner)(no funciona) */
  #ruedita {
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    /* Safari */
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
 
  /*Estilos Full calendar*/
  .fc-daygrid-day-frame{
    max-height: 50px; /* Establece el máximo de altura para cada semana */
    margin-bottom: 0; /* Elimina el margen inferior entre las semanas */
}