
.selectBuscar {
    position: relative;
    width: 100%;
  }
.selectBuscar-input {
    width: 100%;
    padding: 10px;
    font-size: 1.25rem; /* Tamaño del texto de input-group-lg */
    border-radius: 0.25rem; /* Borde similar al select */
    border: 1px solid #6c757d; /* Color del borde */
    box-sizing: border-box;
  }

/* Estilos para la lista de opciones */
.selectBuscar-list {
    position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #6c757d; /* Color de borde */
  max-height: 150px;
  overflow-y: auto;
  display: none; /* Oculto al inicio */
  z-index: 1000;
  border-radius: 0.25rem
}
.selectBuscar-item {
    padding: 8px;
  font-size: 1rem; /* Tamaño de texto similar */
  cursor: pointer;
    
}
.selectBuscar-item:hover {
    background-color: #4385ff;
}
