@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

    * {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    .no-anim {
      transition: none; /* Elimina la transición */
      display: none; /* Evita que se muestre con un efecto de deslizamiento */
  }

    .btn-primary {
        background-color: transparent;
        color: black;
        /* Puedes ajustar el color de texto según tus preferencias */
        border-color: transparent;
        /* Puedes ajustar el color del borde según tus preferencias */
    }
    .floating-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #007BFF; /* Color azul */
      color: #fff; /* Color de texto blanco */
      border: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .floating2-btn {
      position: fixed;
      bottom: 80px;
      right: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #007BFF; /* Color azul */
      color: #fff; /* Color de texto blanco */
      border: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    /* Estilos para las bolitas */
.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
.purple {
  background-color: purple;
}
.yellow {
  background-color: yellow;
}
.orangered{

  background-color: orangered;
}
